.header {  
    grid-area: h;
    background-color: #6d4b60;
    border-radius: 5px;
}
.auth__block {   
    padding: 0 5px;   

}
.login__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    margin: 3px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.btn {
    font-size: 12px;
    margin: 0 5px;
    background-color: #62445c;
}
.user__ava {
    max-height: 50px;
    margin: 5px 10px;    
}
.user__ava:hover {
    
}
