.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
}

.dialog {
    padding: 5px;
}

.dialog a{
    color: #6e4c61;
    text-decoration: none;
}

.dialog a.active {
    color: #67475d;
    font-weight: bold;
}

.messages {
    margin-right: 100px;
    text-align: right;
}

.message {
    padding: 10px;
}

.newMessage {
    padding-bottom: 20px;
}

.users {
    padding:0 10px;
}