.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
}

.dialog {
    line-height: 1.7;
    margin: 0px;
    transition: .1s;
}

.dialog a{
    color: #6e4c61;
    text-decoration: none;
}

.dialog a.active {
    color: #67475d;
    font-weight: bold;
}

.dialog:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 100%;
}

.messages {
    margin-right: 100px;
    text-align: right;
}

.message {
    padding: 10px;
}

.newMessage {
    padding-bottom: 20px;
}

.users {
    border-right: rgba(109, 75, 96, 0.8) 2px solid;
}